.site-name {
  font-size: 3.3em;
  text-align: center;
  font-family: 'Lato Black Italic'; 
}

.ui.one.item.menu{
  background-color: #244467;
}

body {
  background-color: rgb(141, 141, 141);
}

.center-postion {
  text-align: center;
}
